<%= form_for(@tweet, html: {class: 'form-horizontal well'}) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :content, '内容', class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, cols: 40 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :from_user_name, 'ユーザー名', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :from_user_name %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit 'Tweet', class: 'btn' %>
  </div>
<% end %>
