<h1>「<%= @search_keyword %>」の検索結果</h1>

<div id="search_form_box">
  <%= form_tag tweets_path, method: :get, class: 'form-search' do %>
    <%= text_field :tweet, :q, class: 'input-medium search-query', placeholder: 'Search', value: @search_keyword %>
    <%= submit_tag '検索', class: 'btn' %>
    <%= link_to '新規つぶやき', new_tweet_path, class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="well">
<table class="table table-striped">
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>つぶやき</th>
      <th>tweetを見る</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td>
          <a href="<%= "https://twitter.com/#{tweet.user.screen_name}" %>" target="_blank">
            <%= image_tag tweet.user.profile_image_url, alt: tweet.user.name %>
          </a>
        </td>
        <td><%= tweet.text %></td>
        <td><%= link_to "@#{tweet.user.screen_name}", "https://twitter.com/#{tweet.user.screen_name}/status/#{tweet.id}" %></td>
        <td><%= link_to '詳細', tweet_path(tweet.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

