<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @tweet.id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tweet.text %>
</p>

<p>
  <strong>From user:</strong>
  <%= @tweet.user.name %>
</p>

<p>
  <strong>From user name:</strong>
  @<%= @tweet.user.screen_name %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
